# Database
DATABASE_URL=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=busmedaus

# JWT
JWT_SECRET=supersecret
JWT_REFRESH_SECRET=anothersecret

# App
PORT=3000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Rate limiting
THROTTLE_TTL=10
THROTTLE_LIMIT=10
